html {
    background: silver;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Roboto Slab', serif;
}

.title {
    background: black;
    color: lightgray;
}

.title h1 {
    margin: 0;
    padding: 1rem;
    text-align: center;
}

.input-holder, .preview-holder {
    display: flex;
    justify-content: center;
    align-items: center;
}

.inputs, .preview {
    width: 60%;
    display: flex;
    flex-direction: column;
    margin: 1rem 0 1rem 0;
    padding-bottom: 1rem;
    background: gainsboro;
    border-radius: 0.5rem;
    box-shadow: 0px 0px 15px 2px dimgray;
}

.inputs h3 {
    margin-left: 1rem;
}

.input, .btn {
    border: none;
    width: 95%;
    margin: 0.25rem 0 0.25rem 1rem;
    padding: 0.5rem 0 0.5rem 0;
    border-radius: 0.25rem;
}

.input:focus {
    outline: 1px solid gray;
}

.btn {
    cursor: pointer;
    background: darkgray;
}

.btn:hover {
    background-color: gray;
}

.btn:active {
    box-shadow: 7px 6px 28px 1px rgba(0, 0, 0, 0.24);
    transform: translateY(4px);
    /* Moving button 4px to y-axis */
}

/* CV preview styling */

.name, .general-info {
    text-align: center;
    margin: 0.5rem;
}

.preview-title, .ed-preview-div, .ex-preview-div {
    margin: 0 0 0 1rem;
}

.preview-title {
    font-size: 1.125rem;
}

.hr {
    margin: 0.25rem 0 1rem 1rem;
    border-bottom-width: 0;
}

.school-name, .company-name {
    font-weight: 800;
}

.school-degree, .position {
    font-style: italic;
}

.school-dates, .ex-dates {
    font-size: 0.8rem;
}